body {
    padding: 0;
    margin: 0;
}
nav {
   /* display: flex;
    align-items: center;*/
    background-color: #8e9490;
 text-align: start;
}

nav img {
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
}
.center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.danger {
    color: red;
}
nav a { 
    margin: 10px;
    color:#000;
    text-decoration: none;
}
nav a:hover {
    color: #00f;
}
.bold {
    font-size: 20px;
    font-weight: 800;
}
.searchBar {
    margin: 20px;
    display: flex;
    justify-content: center ;
    align-items: center;
    /* background-color: #808080; */
}
.searchBar div {
    display: inline-block;
    width: 20%;
}
.searchBar .sDiv {
    width: 60%;
    background-color: #808080;
    text-align: center;
}
.searchBar input {
    width: 80%;
    padding: 10px;
}
.searchBar select {
    padding: 10px;
    width: 100%;
    
}
#itemsDiv {
    width: 65%; 
    text-align: center;
}
#itemsDiv div {
    width: 30%;
    border: 1px solid #bbb;
    margin: 10px;
    display: inline-block;
    border-radius: 7px;
}
.section-2 {
    display: flex;
    padding: 20px;
}
#cartList {
    text-align: center;
    width: 35%;
}
 #cartList h4 {
    color: #f00;
    font-weight: bold;
    font-family: sans-serif;
 }
.qtySpan {
    padding-inline: 10px;
    padding-block: 5px;
    border-block: 1px solid;
}
.idBtn {
    padding: 8px;
    border: none;
    cursor: pointer;
    background-color: #4657cb;
    border-radius: 5px;
}
#cartList h3, thead {
    border-block: 1px solid #ddd;
    background-color: #aeafb6;
    padding: 10px;
    border-radius: 10px;
}
table {
    padding: 20px;
    text-align: center;
    margin: auto;
}
table p {
    margin: 0;
}
.button {
    padding: 10px 20px;
    background-color: #808080;
    cursor: pointer;
    border-radius: 7px;
    border: none;
}
.button.emptyBtn {
    background-color: #831212;
}
.button.totBtn {
    background-color: #99840a;
}
.button:hover , .idBtn:hover {
    box-shadow: 0px 2px 3px 1px;
    color: #fff;
    background-color: #3994dd;
}
.cartBtn {
    padding: 10px;
    background-color: #1660ce;
    margin: 5px;
}
#cartList .l1 {
    margin-block: 20px;
    background-color: #bbb;
    padding-block: 10px;
}
#page2 #adrsForm {
    width: 70%;
    padding: 20px;
}
 #adrsForm h2 {
    background-color: #849f94;
    padding: 15px;
 }
 .adrsForm {
    text-align: justify;
 }
#adrsForm .adrsForm div {
    width: 48%;
    display: inline-block;
    margin-block: 10px;
}
.adrsForm div label {
    font-size: 20px;
    font-weight: 600;
}
.adrsForm div input, .adrsForm div select  {
    width: 90%;
    padding: 10px;
}
.frmBtn {
    background-color: #3d8ae3;
}
#page2 #cart {
    width: 30%;
}
#page2 {
    display: flex;
    margin: 20px;
}
.f-right {
    float: right;
}
#cartList2 {
    margin: 20px;
    border: 1px solid #000;
}
#cartList2 div {
    padding: 10px;
}
#cartList2 .tDiv {
    border: 1px solid #000;
    background-color: #88918e;
}
.qtyShow {
    background-color: #70a6e9;
    border-radius: 20px;
    padding: 3px;
}
.m-20 {
    margin-left: 30px;
}